
.background {
    text-align:left;

}

.mouse
{
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #888;
    -webkit-animation: intro 1s;
    animation: intro 1s;
}

.scroll
{
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    border-radius: 4px;
    background: #888;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;
}

#overlay {
    margin: 0 auto;
    text-align:center;
    float: none;
    padding-top:30vh;
}


a:hover {
    color: #DCDCDC;

}

a {
    text-decoration:none;
    color: #000;
    /*transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: linear;*/

    
}

a.active{
  color: #DCDCDC;
}
/*
#portfolio li {
    text-align:center;
    text-decoration: none;
        padding-bottom:30px;
    list-style:none;
    width:70%;
    margin: 0 auto;
    text-justify:auto;
}

*/
img {
    margin-top: 5vh;
    margin-bottom:5vh;
}

.bodywrapper a {
    animation: pulse 3s infinite;
}

div.navbar {
    position: fixed;
    width:100%;
    /* background-color: #f3f3f3; */
    top: 0;
    
}

div.navbar ul {

    list-style-type: none;
    text-align: right;
    margin: 0;
    min-height:50px;
    padding: 40px 0 10px 0;
    overflow: hidden;
    margin: 0 auto;
    max-width: 60%;
} 

 div.navbar li {
    display: inline;
    padding-left: 2vh;
    padding-right:2vh;

}

div.navbar li a {
    /* text-align: center; */
    animation: pulse2 4s infinite;
    text-decoration: none;
}

div.navbar li a:hover:not(.active) {
    background-color: #ddd;
}

div.navbar li a.active {
    color: white;
    background-color: #4CAF50;
} 

body{
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', sans-serif;
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-weight: normal;
    padding: 0;
    margin: 0 auto;
}

.bodywrapper {
    margin: 0 auto;
    max-width: 70%;
}

.webheader {
    /* padding:60vh; */
    min-height: 100vh;
    text-align:left;
}

.webheader div {
    /* bottom:0; */
    position:absolute;
    text-align:center;
    /* margin:0 auto; */
    /* left:0;
    right:0; */
    top:40vh;
}

.webheader p {
    /* padding:2vh; */
    bottom:10vh;
}

li {
    text-align: left;
}

h1 {
    /* margin:0px; */
    text-align: left;
    font-weight: black;
    font-size: 40px;
    letter-spacing:3px;

    /* letter-spacing:1.5px; */
}

h2{
    /* margin:0px; */
    text-align: center;
    font-size:18px;
    font-weight: normal;
    /* letter-spacing:1.5px; */
    color: #b3b3b3;
    letter-spacing:2px;
}

h3 {
  /* margin:0px; */
  padding:20px 0px;
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: normal;
}

#experience h3, #about h3 {
  padding-bottom:0px;
  font-size:16px;
  /*font-weight:normal;*/
}

#portfolio h3 {
  font-size:18px;
  padding-bottom:0px;
}

div.reglist2 h3 {
    margin:8px;
}

div.reglist2 h4 {
    margin:8px;
}

div.reglist2 h5 {
    margin:8px;
}

div.reglist li {
    padding-bottom:10px;
    display:block;
}

div.reglist2 li {
    list-style: none;
    margin:40px;
}

div.description{
    text-align:center;
    display:none;
}


/*div.reglist h3, div.reglist h4, div.reglist h5 {
  text-align:left;
}*/

h4 {
  /*margin-top:4px;*/
  font-size:14px;
  font-weight:normal;
  text-align:center;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
 /* margin-bottom:3px;
  padding-bottom:2px;*/
}

h5 {
  margin-top:5px;
  font-weight:normal;
  text-align:center;
  font-size:16px;
}


.img-circle {
      transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: linear;
    border-radius: 50%;
}

.img-norm {
      transition-property: background!important;
  transition-duration: 0.5s!important;
  transition-timing-function: linear!important;
    /*border-radius: 50%;*/
}



div.circlist img {
    float: none;
    margin: auto;
    border-radius: 50%;
    width: 70%;
    height:70%;
        border: 5px solid #f3f3f3;
        transition-property: border;
  transition-duration: 0.5s;
  transition-timing-function: linear;

}

/* 
.choice {
    text-align:left;
}

.choice h2 a{
    
}

.choice a:hover{
    -webkit-animation: none;
    animation: none;    
} */

div.circlist img:hover{
    border: 5px solid #b3b3b3;

}

div.circlist {
    padding-left: 1%;

}
div.circlist li {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 23%;
    vertical-align:top;
    padding-left:3%;
    padding-right: 3%;
    padding-bottom: 5%;
    padding-top: 5%;
}

div.circlist2 li {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 32%;
    vertical-align:top;
    padding-left:0.5%;
    padding-right: 0.5%;
    padding-bottom: 5%;
    padding-top: 5%;
}


div.reglist {
    list-style: none;
}

footer {
    text-align: center;
    color:#b3b3b3;
    padding: 20px;
    font-size: 15px;
    margin: 0 auto;
    border-top:2px #666666;

}

@media screen and (max-width:520px) {
    .bodywrapper {
        max-width:80%;
    }

    .background1:before {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("rubybeach.jpg");
        background-attachment:fixed;
        background-size: cover;
        background-position:  center center;
        z-index: -20;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .background2:before {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("rainier.jpg");
        background-attachment:fixed;
        background-size: cover;
        background-position: center center;
        z-index: -20;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .background3:before {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("hamershlag.jpg");
        background-attachment:fixed;
        background-size: cover;
        background-position: center center;
        z-index: -20;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .background4:before {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("seattle.jpg");
        background-attachment:fixed;
        background-size: cover;
        background-position: center center;
        z-index: -20;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .background5:before {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("sf.jpg");
        background-attachment:fixed;
        background-size: cover;
        background-position: center center;
        z-index: -10;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .background6:before {
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("cmu.jpg");
        background-attachment:fixed;
        background-size: cover;
        background-position: center center;
        z-index: -20;
        width: 100%;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    body{
        font-size: 10px;
        font-weight: lighter;
        padding: 0;
        margin: 0 auto;
    }

    h1 {
        font-size:30px;
        
    }

    h2 {
        font-size:20px;
    }

    h3 {
        font-size:15px;
    }

    div.circlist li {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
        div.circlist {
        padding-left: 0%;
        width:80%;
        text-align:center;
        margin: 0 auto;
    }
    div.webheader img {
        width:70%;
    }

    img {
        max-width:80%;
    }

    #overlay img {
        width: 30%;
        height:30%;
        margin-left:15%;
    }

    .webheader div 
    {
        top:30vh;
    }
    
}

@media screen and (max-width:900px) and (min-width: 520px) {

    body{
        font-size: 10px;
        font-weight: normal;
        padding: 0;
        margin: 0 auto;
    }

    h1 {
        font-size:30px;
    }

    h2 {
        font-size:20px;
    }

    h3 {
        font-size:15px;
    }

    div.circlist li {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        width: 70%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
        div.circlist {
        padding-left: 0%;
        width:65%;
        text-align:center;
        margin: 0 auto;
    }
    div.webheader img {
        width:60%;
    }

}


@keyframes pulse {
    0%,100%{
        color: rgb(0, 0, 0);
    }
    50% {
        color: #b3b3b3;
    }

}

@keyframes pulse1 {
    0%,100%{
        color: #000000;
    }
    15% {
        color: #b3b3b3;
    }
    75%{
        color: #b3b3b3;
    }

}

@keyframes pulse2 {
    0%,100%{
        color: #000000;
    }
    40% {
        color: #b3b3b3;
    }
    75%{
        color: #b3b3b3;
    }

}

@keyframes pulse3 {
    0%,100%{
        color: #000000;
    }
    65% {
        color: #b3b3b3
    }
    75%{
        color: #b3b3b3;
    }

}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}
